.Cart {
  margin: 3em;
  width: 90%;
  .EmptyCartComponent {
    width: 100%;
    .EmptyCartHeader {
      width: 100%;
      justify-content: center;
    }
  }
  .ant-space-item{
    // width: max-content;
  }
  .ant-list .ant-list-item {
     padding: 0;
     padding-bottom: .5em;
}
  .BoxTotal {
    background-color: #f2f2f2;
    width: 20em;
    border-radius: 15px;
    margin-left: 1em;
    padding: .5em;
    button {
      margin-left: 1em;
      color: #242424;
      width: 90%;
      margin-bottom: 1em;
    }
  }
  .Price{
    width: max-content;
    margin-left: 0.5em;
  }
  .Text{
    text-decoration: line-through;
  }
  .Title {
  font-size: large;
}
  .ProductBoxCart{
    background-color: #F2F2F2;
    padding: .7em;
    width: 100%;
    .CloseIcon{
      margin-bottom: 8em;
      // padding-left: 8em;
    }
  }
  .Counter {
    gap: 0;
    Input {
      width: 3em;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  img{
    height: 300px;
    width: 300px;
  }
}
