.App {
  .ant-layout-header {
    display: flex;
    background-color: black;
    padding: 0.8em;
    color: aliceblue;
    justify-content: space-between;
    .Search {
      margin-top: 0.5em;
      width: 400px;
      .ant-input-search-button {
        background-color: #fcdd06;
        color: #000;
      }
    }
    .iconsDev {
      display: flex;
      .iconDev {
        padding-inline: 0.6em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ant-badge {
          color: white;
        }
      }
    }
  }

  .ant-carousel {
    .sliderBox {
      display: flex !important;
      flex-direction: row;
      justify-content: space-around;
      padding: 0;
      height: 300px;
      background: #f2f2f2;
      .sliderData {
        margin: 0;
        padding: 1em;
        // line-height: 80px;
        // width: 50%;
        .text {
          font-family: "muli";
          font-size: 20px;
          font-weight: 200;
          font-style: normal;
          text-align: left;
          color: #242424;
          line-break: 10px;
        }
        .title {
          margin: 0;
          font-family: "muli";
          font-size: 45px;
          font-weight: 600;
          font-style: normal;
          text-align: left;
          color: #242424;
        }
        button {
          width: 150px;
          height: 40px;
          border-radius: 20px;
          background: #fcdd06;
        }
      }
      .ant-space-item {
        .mock-block {
          flex: none;
          margin: 8px 4px;
          padding: 4px;
          left: 20px;
          // border: 1px solid #40a9ff;
          height: 300px;
          img{
            height: 300px;
            width: 300px;
          }
        }
      }
    }
    .slick-next,
    .slick-next:hover,
    .slick-next:focus {
      font-size: inherit;
      // right: 600px;
      right: 10px;
      top: 280px;
      z-index: 1;
      color: black;
    }
    .slick-prev,
    .slick-prev:hover,
    .slick-prev:focus {
      font-size: inherit;
      // left: 43em;
      left: 10px;
      top: 20em;
      z-index: 1;
      color: black;
    }
    .slick-dots li {
      button {
        width: 14px;
        height: 14px;
        border-radius: 18px;
        background-color: #cccccc;
      }
    }
    .slick-dots li.slick-active {
      button {
        margin-inline: 4px;
        background-color: #fcdd06;
      }
    }
  }
}
