.Payment {
  width: 92.39%;
  margin: 3em;
  h3 {
    margin-top: 0;
  }
  .ShippingPayment {
    .bill {
      width: 100%;
      .billItem {
        display: flex;
        justify-content: space-between;
      }
    }
    .ShippingPaymentForms {
      background-color: #f2f2f2;
      padding: 2em;
      border-radius: 8px;
      width: 97%;
      margin: 0.5em;
    }
    .OrderDetails {
      background-color: #f2f2f2;
      padding: 2em;
      border-radius: 8px;
      width: 97%;
      margin: 0.5em;
    }
  }
}
.PaymentSuccess {
  background-color: #f2f2f2;
  padding: 2em;
  border-radius: 8px;
  width: 97%;
  margin: 0.5em;
  .ant-space-item {
    width: 100%;
    .ant-space {
      width: 100%;
      .SuccessItem {
        width: 100%;
        display: flex;
        justify-content: space-between;
        h5 {
          margin: 0;
        }
      }
    }
  }
}
